.featured {
  margin: 1rem 4rem 6rem 4rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .bottom {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    padding-bottom: 1rem;
  }
}
