.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1.5rem 0rem;
  .google-btn {
    order: 2 !important;
    gap: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: white !important;
    color: cornflowerblue !important;
    border: 1px solid cornflowerblue !important;
    box-shadow: 0px 38.4869px 71.4756px rgba(0, 0, 0, 0.07);
    border-radius: 10px;

    .google-icon {
      display: flex;
      order: 1 !important;
    }
  }
}
