:root {
  --small-font: 12px;
  --medium-font: 15px;
  --big-font: 20px;
  --button-width: 90px;
  --button-height: 31px;
}

.order {
  background: #ffffff;
  border: 1px solid #b9bcc8;
  box-shadow: 1px 4px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  max-width: 350px;
  height: 160px;
  position: relative;

  .order-details {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
    .minor-details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .order-id {
        word-break: break-all;
        font-weight: 530;
        font-size: var(--small-font);
        line-height: 15px;
      }
      p {
        font-weight: 500;
        font-size: var(--small-font);
        line-height: 15px;
      }
    }
    .price {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }
  }
  .order-buttons {
    position: absolute;
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1rem;

    .reorder {
      width: var(--button-width);
      height: var(--button-height);
      background: #6495ed;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      font-weight: 500;
      font-size: var(--small-font);
      line-height: 15px;
      cursor: pointer;
    }
    .cancel {
      width: var(--button-width);
      height: var(--button-height);
      background: #ececee;
      color: #606060;
      font-weight: 500;
      font-size: (var(--small-font));
      line-height: 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 720px) {
    max-width: 500px;
    height: 250px;

    .order-details {
      padding: 1.5rem;
      gap: 1rem;
      .minor-details {
        gap: 1.5rem;
        .order-id {
          word-break: break-all;
          font-size: var(--medium-font);
          line-height: 19px;
        }
        p {
          font-size: var(--medium-font);
          line-height: 19px;
        }
      }
      .price {
        font-size: var(--big-font);
        line-height: 20px;
      }
    }
    .order-buttons {
      bottom: 1.5rem;
      gap: 2rem;
      .reorder,
      .cancel {
        width: calc(var(--button-width) * 1.5);
        height: calc(var(--button-height) * 1.2);
        font-size: var(--medium-font);
      }
    }
  }
}
