:root {
  --navBar-height: 80px;
}
.navbar {
  height: 80px;
  width: 100%;
  .wrapper {
    display: flex;
    padding: 0.625rem 1.875rem;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      align-items: center;
      font-size: 1rem;
    }

    .select-wrapper {
      position: relative;
      .select-tag {
        appearance: none;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 10px;
        font-size: 16px;
        width: 4rem;
      }

      .select-tag-arrow {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #333;
        pointer-events: none;
      }
    }

    .mobile-item {
      display: none;
      font-size: 1rem;
    }

    .left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    .center {
      font-size: 1.6rem;
      letter-spacing: 2px;
    }

    .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      cursor: pointer;
      margin-top: 3.5px;

      .profile {
        position: relative;
        .profile-dropdown {
          width: 6rem;
          position: absolute;
          left: -30px;
          display: flex;
          flex-direction: column;
          background-color: white;
          list-style: none;
          border: 1px solid gray;
          border-radius: 5px;
          z-index: 1;
        }

        .profile-dropdown li {
          padding: 10px;
        }

        .profile-dropdown li:hover {
          background-color: lightgray;
        }
      }

      .cart-icon {
        position: relative;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: -15px;
          top: -10px;
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: cornflowerblue;
          color: #fff;
        }
      }
    }
  }
  .mobile-view {
    position: absolute;
    top: 0;
    height: 100%;
    width: clamp(15rem, 0.5rem, 30rem);
    margin: auto 0;
    // border-top-right-radius: 10px;
    background-color: rgba(32, 32, 32);
    z-index: 999;

    .link-container {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      z-index: 999;

      .item-link {
        width: 100%;
      }

      .item {
        display: flex;
        height: fit-content;
        align-items: center;
        justify-content: center;
        margin-left: 24px;
        gap: 0.3rem;
        position: relative;

        span {
          text-align: left;
          font-size: clamp(1rem, 0.5rem, 2rem);
          width: 5rem;
          color: #fff;
          margin: auto 0;
        }
      }
    }

    .close-icon-container {
      position: absolute;
      text-align: center;
      margin: auto 0;
      border-radius: 50%;
      padding: 0.8rem;
      top: 5%;
      right: -1rem;
      background-color: rgba(32, 32, 32);
    }
  }

  /*
  -----------------------media queries-----------------------------------------
  */
  @media screen and (max-width: 860px) {
    .wrapper {
      .left {
        .item {
          display: none;
        }
        .mobile-item {
          display: flex;
          align-items: center;
        }
      }
      .right {
        display: none;
      }
    }
  }
}

/*
-----------------------  media queries end-----------------------------------------
*/
