@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
html,
a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #505050;
  font-family: "Inter", sans-serif;
}

.app {
  // -webkit-transform: translate3d(0, 0, 0);
  // transform: translate3d(0, 0, 0);
  .link {
    text-decoration: none;
  }
}
