@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #505050;
  font-family: "Inter", sans-serif;

  span.checked {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #505050;
    font-family: "Inter", sans-serif;
  }
}
.css-ahj2mt-MuiTypography-root {
  font-family: "Inter", sans-serif;
}

.app {
  overflow-x: hidden;
  .link {
    text-decoration: none;
  }
}
